.schrift{
float: center;
}

.col-md-12{
 background-color:#505050 ;
 }

.col-md-3{
 background-color: #96FF0B ;
 font-family: arial;
 float: left;
}

.col-md-6{
 background-color: #10056A ;
 float: center;
}

.pic{
 background-color: #96330B ;
 float: right;
 width: col-md-3
}
